body {
    text-align: center;
}

.list-status {
    margin-bottom: -150px
}

.list-element {
    background-color: royalblue;
    color: aliceblue;
    display: inline-block;
    font-size: 2.0rem;
    font-weight: bold;
    letter-spacing: 3px;
    margin: 0 40px;
    text-transform: capitalize;
}
